<form
    class="flex flex-col justify-between h-full mt-2"
    [formGroup]="request.form"
    (ngSubmit)="onSubmit()"
>
    <div>
        <h5 class="font-bold opacity-100 leading-lg">Input Reactions</h5>
        <h6 class="mt-1 leading-lg">
            You will get Gibbs free energy and to ensure thermodynamic feasibility of reactions. 
        </h6>

        <!-- Reaction Input -->
        <p-panel styleClass="mt-8">
            <ng-template pTemplate="header">
                <div class="flex items-center gap-2 grow">
                    Reactions
                    <!-- <p-radioButton
                        [disabled]="true"
                        label="SMILES"
                        value="smiles"
                        name="reactionInputType"
                        formControlName="reactionInputType"
                    ></p-radioButton> -->
                    <p-radioButton
                        label="Kegg ID"
                        value="keggId"
                        name="reactionInputType"
                        formControlName="reactionInputType"
                    ></p-radioButton>
                </div>
                <div class="flex gap-2">
                    <button
                        type="button"
                        class="p-2 border rounded-md"
                        (click)="useExampleRequest()"
                    >
                        <i class="mx-2 pi pi-box"></i>
                        Example
                    </button>
                    <button
                        type="button"
                        class="p-2 border rounded-md"
                        (click)="request.clearAllReactions()"
                    >
                        Clear All
                    </button>
                </div>
            </ng-template>

            <ng-container formArrayName="reactions">
                <div
                    class="p-2"
                    *ngFor="let subform of request.form.controls['reactions'].controls; let i = index"
                    [formGroupName]="i"
                >
                    <div
                        class="flex gap-2 pr-2"
                        *ngIf="subform.controls['type'].value === 'smiles'"
                    >
                        <input
                            pInputText
                            class="w-full"
                            placeholder="Enter Reaction SMILES"
                            formControlName="reactionSmiles"
                        />
                        <button
                            type="button"
                            (click)="request.removeReaction(i)"
                        >
                            <i class="pi pi-times"></i>
                        </button>
                    </div>
                    <div
                        *ngIf="subform.controls['type'].value === 'keggId'"
                        class="flex flex-col p-5 border border-dotted rounded-md bg-gray-50"
                    >
                        <div class="flex justify-between mb-3">
                            <h5 class="mt-0 opacity-100">Reaction {{ i + 1 }}</h5>
                            <button
                                type="button"
                                (click)="request.removeReaction(i)"
                            >
                                <i class="pi pi-times"></i>
                            </button>
                        </div>
                        <section class="lg:max-w-[80%]">
                            <div class="flex justify-between gap-2 mb-3">
                                <h6 class="flex items-center gap-2 mt-0 font-semibold opacity-100">
                                    Have new molecule(s) not listed in KEGG database and MetaNetX database
                                    <!-- TODO: add tooltip -->
                                    <i class="pi pi-info-circle text-[--surface-500]"></i>
                                </h6>
                                <p-inputSwitch formControlName="containNovelMolecule"/>
                            </div>
                            <ng-container *ngIf="subform.controls['containNovelMolecule']!.value">
                                <div class="flex justify-between gap-2 mb-3">
                                    <h6 class="flex items-center gap-2 mb-2 font-semibold opacity-100">
                                        Enter the new molecule's SMILES or InChl
                                        <!-- TODO: add tooltip -->
                                        <i class="pi pi-info-circle text-[--surface-500]"></i>
                                    </h6>
                                    <button (click)="request.addNovelMolecule(subform)">
                                        <i class="pi pi-plus-circle text-[--text-color-secondary] !text-xl"></i>
                                    </button>
                                </div>

                                <div *ngFor="let novelMoleculeInput of subform.controls['novelMolecules']!.controls; let i = index"
                                    class="grow">
                                    
                                    <div class="flex justify-between gap-2 mb-3">
                                        <div class="flex gap-3 grow">
                                            <input
                                                pInputText
                                                placeholder="O=C(CCO)O"
                                                class="w-full"
                                                [formControl]="novelMoleculeInput"
                                            />
                                            <div class="px-[.66rem] py-[.33rem] bg-[--surface-d] text-[--surface-500] my-1 text-base flex items-center justify-center rounded-md"
                                                [class.bg-primary]="novelMoleculeInput.valid"
                                                [class.text-white]="novelMoleculeInput.valid"
                                            >
                                                N{{ ("" + (i + 1)).padStart(5, '0') }}
                                            </div>
                                        </div>
                                        <button 
                                            [disabled]="novelMoleculeInput.invalid"
                                            (click)="request.removeNovelMolecule(subform, i)">
                                            <i class="pi pi-times-circle text-[--text-color-secondary] !text-xl"
                                                [class.text-bluegray-100]="novelMoleculeInput.invalid"
                                            ></i>
                                        </button>
                                    </div>
                                    
                                </div>
                            </ng-container>
                            <div class="grow">
                                <h6 class="mb-2 font-semibold opacity-100">
                                    Enter a reaction with database IDs of known compounds. 
                                </h6>
                                <input
                                    pInputText
                                    placeholder="e.g. C00001 + C00002 -> C00003 + C00004"
                                    class="w-full"
                                    formControlName="reactionKeggId"
                                />
                            </div>
                        </section>
                    </div>
                </div>
            </ng-container>

            <div class="m-2">
                <button
                    type="button"
                    class="p-2 border rounded-md bg-gray-50"
                    (click)="request.addReaction()"
                >
                    <i class="mx-2 pi pi-plus"></i>
                    Add more reactions
                </button>
            </div>
        </p-panel>

        <p-panel styleClass="mt-8" header="Setting">
            <div class="p-2 px-4">
                <div class="flex flex-col w-1/4 mb-4">
                    <div class="flex justify-between my-2">
                        <span>pH</span>
                    </div>
                    <input
                        pInputText
                        styleClass="w-full"
                        formControlName="ph"
                        [ngModel]="request.form.controls['ph'].value"
                    />
                    <p-slider
                        formControlName="ph"
                        [ngModel]="request.form.controls['ph'].value"
                        [min]="0"
                        [max]="14"
                    ></p-slider>
                </div>
                <div class="flex flex-col w-1/4 mb-4">
                    <div class="flex justify-between my-2">
                        <span>Ionic Strength [M]</span>
                    </div>
                    <input
                        pInputText
                        styleClass="w-full"
                        formControlName="ionicStrength"
                        [ngModel]="request.form.controls['ionicStrength'].value"
                    />
                    <p-slider
                        formControlName="ionicStrength"
                        [ngModel]="request.form.controls['ionicStrength'].value"
                        [min]="0"
                        [max]="0.5"
                        [step]="0.01"
                    ></p-slider>
                </div>
            </div>
        </p-panel>
    </div>

    <!-- Subscription Email Input -->
    <div
        class="sticky bottom-0 flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
    >
        <div class="flex flex-col">
            <div class="flex items-end justify-center mb-2">
                <span class="pr-12 mb-1">
                    <h5 class="inline font-semibold opacity-100 leading-lg">Email</h5>
                    <h6 class="inline ml-4 leading-lg">Leave an email to get an notification when your
                    results are ready.</h6>
                </span>
            </div>
            <div class="w-full">
                <input
                    id="subscriber-email"
                    type="email"
                    aria-describedby="subscriber-email-help"
                    [class]="'h-12 w-full'
                    + ((request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                    pInputText
                    placeholder="Enter email here"
                    formControlName="subscriberEmail"
                />
                <small
                    *ngIf="request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty"
                    id="subscriber-email-help"
                    class="block mt-2 p-error"
                    >Email is invalid.</small
                >
            </div>
            <div class="py-4">
                <div class="flex items-center gap-1">
                    <p-checkbox
                        name="subscription"
                        styleClass="subscription-checkbox"
                        [binary]="true"
                        [formControl]="request.form.controls['agreeToSubscription']"
                    ></p-checkbox>
                    <label class="opacity-60">Agree to receive email notifications and updates about Novostoic.</label>
                </div>
            </div>
        </div>
        <p-button
            [label]="request.form.status === 'PENDING' ? 'Validating...' : 'Calculate Gibbs Free Energy'"
            type="submit"
            styleClass="btn-submit-request"
            [disabled]="!request.form.valid"
            [loading]="request.form.status === 'PENDING'"
            iconPos="right"
            icon="pi pi-arrow-right"
        ></p-button>
    </div>
</form>
