<div class="flex items-center w-full">
    <!-- Primary Precursor -->
    <span>
        <span
            class="green-dot mt-1.5"
            (mouseenter)="primaryPrecursorOverlay.show($event)"
            (mouseleave)="primaryPrecursorOverlay.hide()"
        >
            <p-overlayPanel #primaryPrecursorOverlay>
                <div class="w-[300px] p-4">
                    <div
                        class="flex justify-center p-2 mb-2 border border-solid rounded-md border-green-primary"
                    >
                        <img
                            class="h-[180px] w-auto"
                            [src]="primaryPrecursor.structure"
                        />
                    </div>
                    <div class="flex flex-col">
                        <ng-container
                            *ngTemplateOutlet="moleculeInfo; context: {
                            $implicit: primaryPrecursor,
                            showSmiles: true
                        }"
                        ></ng-container>
                    </div>
                </div>
            </p-overlayPanel>
        </span>
    </span>

    <!-- Co-Reactant -->
    <span class="text-nowrap" *ngFor="let reactant of stoichiometry.reactants">
        <span class="mx-1">+</span>
        <span
            class="p-1 inline-block max-w-[130px] overflow-clip text-ellipsis"
            [class]="moleculeStyleClass"
            (mouseenter)="coreactantOverlay.show($event)"
            (mouseleave)="coreactantOverlay.hide()"
            >{{ reactant.amount | number: '1.1-2' }} {{
            reactant.molecule.name }}
            <p-overlayPanel #coreactantOverlay>
                <div class="w-[300px] p-4">
                    <div class="mb-2">
                        <span class="gray-dot"></span>
                        <span class="ml-2 font-semibold">Co-Reactant</span>
                    </div>
                    <div
                        class="flex justify-center p-2 mb-2 border border-solid rounded-md"
                    >
                        <img
                            class="h-[180px] w-auto"
                            [src]="reactant.molecule.structure"
                        />
                    </div>
                    <div class="flex flex-col">
                        <ng-container
                            *ngTemplateOutlet="moleculeInfo; context: {
                        $implicit: reactant.molecule,
                        showSmiles: false
                    }"
                        ></ng-container>
                    </div>
                </div>
            </p-overlayPanel>
        </span>
    </span>

    <!-- Reaction -->
    <i
        class="px-1 mx-1 text-lg font-extrabold border border-dashed pi pi-angle-double-right"
    ></i>

    <!-- Co-Product -->
    <span
        class="text-nowrap"
        *ngFor="let reactant of stoichiometry.products"
        (mouseenter)="coproductOverlay.show($event)"
        (mouseleave)="coproductOverlay.hide()"
    >
        <span 
            class="p-1 inline-block max-w-[130px] overflow-clip text-ellipsis"
            [class]="moleculeStyleClass"
            >{{ reactant.amount | number: '1.1-2' }} {{
            reactant.molecule.name }}
            <p-overlayPanel #coproductOverlay>
                <div class="w-[300px] p-4">
                    <div class="mb-2">
                        <span class="gray-dot"></span>
                        <span class="ml-2 font-semibold">Co-Product</span>
                    </div>
                    <div
                        class="flex justify-center p-2 mb-2 border border-solid rounded-md"
                    >
                        <img
                            class="h-[180px] w-auto"
                            [src]="reactant.molecule.structure"
                        />
                    </div>
                    <div class="flex flex-col">
                        <ng-container
                            *ngTemplateOutlet="moleculeInfo; context: {
                        $implicit: reactant.molecule,
                        showSmiles: false
                    }"
                        ></ng-container>
                    </div>
                </div>
            </p-overlayPanel>
        </span>
        <span class="mx-1">+</span>
    </span>

    <!-- Target Molecule -->
    <span *ngIf="showTargetMolecule">
        <span
            class="mt-1 blue-dot"
            (mouseenter)="targetMoleculeOverlay.show($event)"
            (mouseleave)="targetMoleculeOverlay.hide()"
        >
            <p-overlayPanel #targetMoleculeOverlay>
                <div class="w-[300px] p-4">
                    <div
                        class="flex justify-center p-2 mb-2 border border-solid rounded-md border-blue-primary"
                    >
                        <img
                            class="h-[180px] w-auto"
                            [src]="targetMolecule.structure"
                        />
                    </div>
                    <div class="flex flex-col">
                        <ng-container
                            *ngTemplateOutlet="moleculeInfo; context: {
                        $implicit: targetMolecule,
                        showSmiles: true
                    }"
                        ></ng-container>
                    </div>
                </div>
            </p-overlayPanel>
        </span>
    </span>
</div>

<ng-template #moleculeInfo let-molecule let-showSmiles="showSmiles">
    <div class="flex justify-between mt-2">
        <span class="leading-base opacity-60">Common Name</span>
        <span class="font-semibold text-end"
            >{{ molecule.name }}</span
        >
    </div>
    <div *ngIf="showSmiles" class="flex justify-between mt-2">
        <span class="leading-base opacity-60">SMILES</span>
        <span class="font-semibold text-end">{{ molecule.smiles }}</span>
    </div>
    <div class="flex justify-between mt-2">
        <span class="leading-base opacity-60">KEGG ID</span>
        <span class="font-semibold text-end">{{ molecule.keggId }}</span>
    </div>
</ng-template>
