<div class="flex items-center w-full">
    <!-- Primary Precursor -->
    <span>
        <span
            class="green-dot mt-1.5"
            (mouseenter)="primaryPrecursorOverlay.show($event)"
            (mouseleave)="primaryPrecursorOverlay.hide()"
        >
            <app-molecule-info-overlay #primaryPrecursorOverlay
                [molecule]="primaryPrecursor"
                [showSmiles]="true"
                imageBorderStyle="border-green-primary"
            ></app-molecule-info-overlay>
        </span>
    </span>

    <!-- Co-Reactant -->
    <span class="text-nowrap" *ngFor="let reactant of stoichiometry.reactants">
        <span class="mx-1">+</span>
        <span
            class="p-1 inline-block max-w-[130px] overflow-clip text-ellipsis"
            [class]="moleculeStyleClass"
            (mouseenter)="coreactantOverlay.show($event)"
            (mouseleave)="coreactantOverlay.hide()"
            >{{ reactant.amount | number: '1.1-2' }} {{
            reactant.molecule.name }}
            <app-molecule-info-overlay #coreactantOverlay
                [molecule]="reactant.molecule"
                [showSmiles]="false"
            ></app-molecule-info-overlay>
        </span>
    </span>

    <!-- Reaction -->
    <i
        class="px-1 mx-1 text-lg font-extrabold border border-dashed pi pi-angle-double-right"
    ></i>

    <!-- Co-Product -->
    <span
        class="text-nowrap"
        *ngFor="let reactant of stoichiometry.products"
        (mouseenter)="coproductOverlay.show($event)"
        (mouseleave)="coproductOverlay.hide()"
    >
        <span 
            class="p-1 inline-block max-w-[130px] overflow-clip text-ellipsis"
            [class]="moleculeStyleClass"
            >{{ reactant.amount | number: '1.1-2' }} {{
            reactant.molecule.name }}
            <app-molecule-info-overlay #coproductOverlay
                [molecule]="reactant.molecule"
                [showSmiles]="false"
            ></app-molecule-info-overlay>
        </span>
        <span class="mx-1">+</span>
    </span>

    <!-- Target Molecule -->
    <span *ngIf="showTargetMolecule">
        <span
            class="mt-1 blue-dot"
            (mouseenter)="targetMoleculeOverlay.show($event)"
            (mouseleave)="targetMoleculeOverlay.hide()"
        >
            <app-molecule-info-overlay #targetMoleculeOverlay
                [molecule]="targetMolecule"
                [showSmiles]="true"
                imageBorderStyle="border-blue-primary"
            ></app-molecule-info-overlay>
        </span>
    </span>
</div>