.warning_dialog {
  ::ng-deep {
    .p-dialog-header, 
    .p-dialog-content,
    .p-dialog-footer {
      @apply bg-[--orange-50];
      @apply border-none;
    }

    .p-dialog-header {
      @apply pt-2;
      @apply border-t-[4px];
      @apply border-solid;
      @apply border-[#F59E0B];
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}