<form
    class="flex flex-col justify-between h-full mt-2"
    [formGroup]="request.form"
    (ngSubmit)="onSubmit()"
>
    <div>
        <h5 class="font-bold opacity-100 leading-lg">Input an Overall Stoichiometry</h5>
        <h6 class="mt-1 leading-lg">
            Provide a balanced overall stiochiometry with a precursor, a target molecule, co-reactants, and co-rpoducts for pathway design.
        </h6>

        <!-- Pathway Search -->
        <div class="flex flex-col gap-6 mt-8">
            <p-panel>
                <ng-template pTemplate="header">
                    <span class="grow">Overall Stoichiometry</span>
                    <div class="flex gap-2">
                        <button
                            type="button"
                            class="p-2 bg-white border rounded-md"
                            (click)="editing$.value
                                ? useExampleCallback()
                                : confirmUsingExample()
                            "
                        >
                            <i class="mx-2 pi pi-box"></i>
                            Use an Example
                        </button>
                        <button
                            type="button"
                            class="p-2 bg-white border rounded-md"
                            (click)="editing$.value
                                ? clearAllCallback()
                                : confirmClearAll()"
                        >
                            Clear All
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div
                        class="p-4"
                        [class.bg-[#ebebeb]]="!editing$.value"
                    >
                        <div class="relative p-2 cursor-pointer" *ngIf="!editing$.value" (click)="confirmUsingExample()">
                            <div class="flex justify-center w-full" *ngIf="!primaryPrecursor$.value || !targetMolecule$.value || !stoichiometry$.value">
                                <p-progressSpinner styleClass="w-2 h-2" ariaLabel="loading"/>
                            </div>
                            <ng-container *ngIf="primaryPrecursor$.value as p">
                                <ng-container *ngIf="targetMolecule$.value as t">
                                    <ng-container *ngIf="stoichiometry$.value as s">
                                        <app-stoichiometry-reaction-with-scroller
                                            [primaryPrecursor]="p"
                                            [targetMolecule]="t"
                                            [stoichiometry]="s"
                                            moleculeStyleClass="bg-[#ebebeb]"
                                            maxWidth="800px"
                                        ></app-stoichiometry-reaction-with-scroller>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                        <div *ngIf="editing$.value">
                            <!-- Primary Precursor -->
                            <div
                                class="flex flex-col gap-2 p-2 rounded-md bg-green-50"
                                formGroupName="primaryPrecursor"
                            >
                                <div class="inline-flex items-center">
                                    <div class="green-dot"></div>
                                    <h6 class="inline ml-2 font-semibold opacity-100 leading-xl"
                                        >A Primary Precursor</h6
                                    >
                                    <span class="ml-1 text-red-500"
                                        >*</span
                                    >
                                </div>
                                <div class="flex gap-2 w-full">
                                    <input
                                        pInputText
                                        type="number"
                                        class="w-[48px]"
                                        placeholder="0.0"
                                        [step]="request.pathwayParameterSettings.primaryPrecursor.amount.step"
                                        [min]="request.pathwayParameterSettings.primaryPrecursor.amount.min"
                                        [max]="request.pathwayParameterSettings.primaryPrecursor.amount.max"
                                        (keydown)="onNumberInputKeyDown($event)"
                                        formControlName="amount"
                                    />
                                    <app-marvinjs-input 
                                        class="grow"
                                        placeholder="Name, SMILES, InChi, Kegg ID, or MetaNetX ID"
                                        formControlName="molecule"
                                        appOptstoicChemicalValidator
                                        (onChemicalValidationStatusChange)="request.primaryPrecursor = $event"
                                    >
                                        <div *ngIf="request.form.controls['primaryPrecursor'].dirty" errors>
                                            <div *ngIf="request.form.controls['primaryPrecursor'].errors?.['required']">
                                                <small class="text-red-500">Primary Precursor is required</small>
                                            </div>
                                            <div *ngIf="request.form.controls['primaryPrecursor'].errors?.['amountRequired']">
                                                <small class="text-red-500">Amount is required</small>
                                            </div>
                                            <div *ngIf="request.form.controls['primaryPrecursor'].errors?.['moleculeRequired']">
                                                <small class="text-red-500">Chemical is required</small>
                                            </div>
                                            <div *ngIf="request.form.controls['primaryPrecursor'].errors?.['chemicalNotSupported']">
                                                <small class="text-red-500">Chemical not supported</small>
                                            </div>
                                        </div>
                                    </app-marvinjs-input>
                                </div>
                            </div>
                            <div class="py-2 text-center">
                                <i
                                    class="text-sm font-extrabold pi pi-plus"
                                ></i>
                            </div>
                            <!-- Co-reactants -->
                            <div
                                class="flex flex-col gap-2 p-2 bg-gray-100 rounded-md"
                            >
                                <div class="flex justify-between">
                                    <div class="inline-flex items-center">
                                        <div class="gray-dot"></div>
                                        <h6 class="inline ml-2 font-semibold opacity-100 leading-xl"
                                            >Co-Reactants</h6
                                        >
                                    </div>
                                    <button
                                        title="add Co-reactant"
                                        type="button"
                                        (click)="request.addCoReactant()"
                                    >
                                        <i
                                            class="px-1 pt-1 pi pi-plus-circle"
                                        ></i>
                                    </button>
                                </div>
                                <ng-container formArrayName="coReactants">
                                    <div
                                        class="flex gap-2"
                                        *ngFor="let control of request.form.controls['coReactants'].controls; let i = index"
                                        [formGroupName]="i"
                                    >
                                        <div class="flex gap-2 w-full">
                                            <input
                                                pInputText
                                                type="number"
                                                class="w-[48px]"
                                                placeholder="0.0"
                                                [step]="request.pathwayParameterSettings.coReactant.amount.step"
                                                [min]="request.pathwayParameterSettings.coReactant.amount.min"
                                                [max]="request.pathwayParameterSettings.coReactant.amount.max"
                                                (keydown)="onNumberInputKeyDown($event)"
                                                formControlName="amount"
                                            />
                                            <app-marvinjs-input 
                                                class="grow"
                                                placeholder="Name, SMILES, InChi, Kegg ID, or MetaNetX ID"
                                                formControlName="molecule"
                                                appOptstoicChemicalValidator
                                                [mandateChemical]="false"
                                                (onChemicalValidationStatusChange)="request.coReactants[i] = $event"
                                            >
                                                <div *ngIf="control.dirty" errors>
                                                    <div *ngIf="control.errors?.['amountOrMoleculeRequired']">
                                                        <small class="text-red-500">Both amount and chemical are required</small>
                                                    </div>
                                                    <div *ngIf="control.errors?.['chemicalNotSupported']">
                                                        <small class="text-red-500">Chemical not supported</small>
                                                    </div>
                                                </div>
                                            </app-marvinjs-input>
                                        </div>

                                        <button *ngIf="i !== 0" type="button" title="remove coreactant" (click)="request.removeCoReactant(i)">
                                                <i class="mx-1 pi pi-times-circle"></i>
                                            </button>
                                        </div>
                                </ng-container>
                            </div>

                            <div class="py-2 text-center">
                                <i
                                    class="text-lg font-extrabold pi pi-angle-double-down"
                                ></i>
                            </div>

                            <!-- Co-products -->
                            <div
                                class="flex flex-col gap-2 p-2 bg-gray-100 rounded-md"
                            >
                                <div class="flex justify-between">
                                    <div class="inline-flex items-center">
                                        <div class="gray-dot"></div>
                                        <h6 class="inline ml-2 font-semibold opacity-100 leading-xl"
                                            >Co-Products</h6
                                        >
                                    </div>
                                    <button
                                        type="button"
                                        title="add Co-product"
                                        (click)="request.addCoProduct()"
                                    >
                                        <i
                                            class="px-1 pt-1 pi pi-plus-circle"
                                        ></i>
                                    </button>
                                </div>
                                <ng-container formArrayName="coProducts">
                                    <div
                                        class="flex gap-2"
                                        *ngFor="let control of request.form.controls['coProducts'].controls; let i = index"
                                        [formGroupName]="i"
                                    >
                                        <div class="flex gap-2 w-full">
                                            <input
                                                pInputText
                                                type="number"
                                                class="w-[48px]"
                                                placeholder="0.0"
                                                [step]="request.pathwayParameterSettings.coReactant.amount.step"
                                                [min]="request.pathwayParameterSettings.coReactant.amount.min"
                                                [max]="request.pathwayParameterSettings.coReactant.amount.max"
                                                (keydown)="onNumberInputKeyDown($event)"
                                                formControlName="amount"
                                            />
                                            <app-marvinjs-input 
                                                class="grow"
                                                placeholder="Name, SMILES, InChi, Kegg ID, or MetaNetX ID"
                                                formControlName="molecule"
                                                appOptstoicChemicalValidator
                                                [mandateChemical]="false"
                                                (onChemicalValidationStatusChange)="request.coProducts[i] = $event"
                                            >
                                                <div *ngIf="control.dirty" errors>
                                                    <div *ngIf="control.errors?.['amountOrMoleculeRequired']">
                                                        <small class="text-red-500">Both amount and chemical are required</small>
                                                    </div>
                                                    <div *ngIf="control.errors?.['chemicalNotSupported']">
                                                        <small class="text-red-500">Chemical not supported</small>
                                                    </div>
                                                </div>
                                            </app-marvinjs-input>
                                        </div>

                                        <button 
                                            *ngIf="i !== 0" 
                                            type="button" 
                                            title="remove Co-product" 
                                            (click)="request.removeCoProduct(i)"
                                        >
                                            <i class="mx-1 pi pi-times-circle"></i>
                                        </button>
                                    </div>
                                </ng-container>
                            </div>

                            <!-- Target Molecule -->
                            <div class="py-2 text-center">
                                <i
                                    class="text-sm font-extrabold pi pi-plus"
                                ></i>
                            </div>
                            <div
                                class="flex flex-col gap-2 p-2 rounded-md bg-blue-50"
                            >
                                <div class="inline-flex items-center">
                                    <div class="blue-dot"></div>
                                    <h6 class="inline ml-2 font-semibold opacity-100 leading-xl"
                                        >A Target Molecule</h6
                                    >
                                    <span class="ml-1 text-red-500"
                                        >*</span
                                    >
                                </div>
                                <div class="flex gap-2 w-full" formGroupName="targetMolecule">
                                    <input
                                        pInputText
                                        type="number"
                                        class="w-[48px]"
                                        placeholder="0.0"
                                        [step]="request.pathwayParameterSettings.targetMolecule.amount.step"
                                        [min]="request.pathwayParameterSettings.targetMolecule.amount.min"
                                        [max]="request.pathwayParameterSettings.targetMolecule.amount.max"
                                        (keydown)="onNumberInputKeyDown($event)"
                                        formControlName="amount"
                                    />
                                    <app-marvinjs-input 
                                        class="grow"
                                        placeholder="Name, SMILES, InChi, Kegg ID, or MetaNetX ID"
                                        formControlName="molecule"
                                        appOptstoicChemicalValidator
                                        (onChemicalValidationStatusChange)="request.targetMolecule = $event"
                                    >
                                        <div *ngIf="request.form.controls['targetMolecule'].dirty" errors>
                                            <div *ngIf="request.form.controls['targetMolecule'].errors?.['required']">
                                                <small class="text-red-500">Target Molecule is required</small>
                                            </div>
                                            <div *ngIf="request.form.controls['targetMolecule'].errors?.['amountRequired']">
                                                <small class="text-red-500">Amount is required</small>
                                            </div>
                                            <div *ngIf="request.form.controls['targetMolecule'].errors?.['moleculeRequired']">
                                                <small class="text-red-500">Chemical is required</small>
                                            </div>
                                            <div *ngIf="request.form.controls['targetMolecule'].errors?.['chemicalNotSupported']">
                                                <small class="text-red-500">Chemical not supported</small>
                                            </div>
                                        </div>
                                    </app-marvinjs-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div
                        class="flex justify-between p-1 px-4 rounded-b-md bg-gray-50"
                    >
                        <div class="flex gap-3">
                            <small>1 Primary Precursor</small>
                            <small>{{ request.form.controls['coReactants'].length }} Co-Reactant{{ request.form.controls['coReactants'].length > 1 ? 's' : '' }}</small>
                            <small>{{ request.form.controls['coProducts'].length }} Co-Product{{ request.form.controls['coProducts'].length > 1 ? 's' : '' }}</small>
                            <small>1 Target Molecule</small>
                        </div>
                        <small>Overall Stoichiometry</small>
                    </div>
                </ng-template>
            </p-panel>

            <p-panel class="my-6">
                <ng-template pTemplate="header">
                    <span class="grow">Settings</span>
                    <div class="flex gap-2">
                        <button
                            type="button"
                            class="p-2 bg-white border rounded-md"
                            (click)="request.resetSetting()"
                        >
                            Reset
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="p-4 px-6">
                        <section>
                            <h6 class="font-semibold opacity-100 leading-base">Pathway Search Setting</h6>
                            <small class="block pt-1 italic opacity-60 leading-xl">
                                Tip: More you choose, the longer it takes.
                            </small>
                            <div
                                class="flex justify-between w-1/2 mt-4"
                            >
                                <div>
                                    <span
                                        class="flex items-center justify-between my-2"
                                    >
                                        <span>Number of reaction steps per pathway design</span>
                                        <!-- <i
                                            class="pi pi-info-circle"
                                        ></i> -->
                                    </span>
                                    <input
                                        title="Number of reaction steps per pathway design"
                                        type="number"
                                        pInputText
                                        class="w-full"
                                        formControlName="maxSteps"
                                        [step]="request.pathwayParameterSettings.maxSteps.step"
                                        [min]="request.pathwayParameterSettings.maxSteps.min"
                                        [max]="request.pathwayParameterSettings.maxSteps.max"
                                        [ngModel]="request.form.controls['maxSteps'].value"
                                        (keydown)="onNumberInputKeyDown($event)"
                                    />
                                    <p-slider
                                        class="w-full"
                                        formControlName="maxSteps"
                                        [step]="request.pathwayParameterSettings.maxSteps.step"
                                        [min]="request.pathwayParameterSettings.maxSteps.min"
                                        [max]="request.pathwayParameterSettings.maxSteps.max"
                                        [ngModel]="request.form.controls['maxSteps'].value"
                                    ></p-slider>
                                    <span
                                        class="flex items-center justify-between my-2"
                                    >
                                        <span class="text-sm">0</span>
                                        <span class="text-sm">10</span>
                                    </span>
                                </div>
                                <div>
                                    <span
                                        class="flex items-center justify-between my-2"
                                    >
                                        <span
                                            >Number of pathway generated</span
                                        >
                                        <!-- <i
                                            class="pi pi-info-circle"
                                        ></i> -->
                                    </span>
                                    <input
                                        title="Number of pathway generated"
                                        type="number"
                                        pInputText
                                        class="w-full"
                                        [step]="request.pathwayParameterSettings.maxPathways.step"
                                        [min]="request.pathwayParameterSettings.maxPathways.min"
                                        [max]="request.pathwayParameterSettings.maxPathways.max"
                                        (keydown)="onNumberInputKeyDown($event)"
                                        formControlName="maxPathways"
                                        [ngModel]="request.form.controls['maxPathways'].value"
                                    />
                                    <p-slider
                                        class="w-full"
                                        formControlName="maxPathways"
                                        [step]="request.pathwayParameterSettings.maxPathways.step"
                                        [min]="request.pathwayParameterSettings.maxPathways.min"
                                        [max]="request.pathwayParameterSettings.maxPathways.max"
                                        [ngModel]="request.form.controls['maxPathways'].value"
                                    ></p-slider>
                                    <span
                                        class="flex items-center justify-between my-2"
                                    >
                                        <span class="text-sm">0</span>
                                        <span class="text-sm">10</span>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <hr class="my-4" />
                        <section>
                            <h6 class="font-semibold opacity-100 leading-base">Gibbs Energy Predictor</h6>
                            <small class="block pt-1 italic opacity-60 leading-xl">
                                Tip: You can always adjust your selections later on the results page in the filtering section.
                            </small>
                            <div class="flex flex-col gap-4 mt-4">
                                <div class="flex items-center">
                                    <p-checkbox value="any" formControlName="thermodynamicReactionsFilterMode"></p-checkbox>
                                    <label class="ml-2">Check the box to find pathways with thermodynamically feasible reactions
                                        <!-- <i class="ml-2 pi pi-info-circle"></i> -->
                                    </label>
                                </div>
                            </div>
                        </section>
                        <hr class="my-4" />
                        <section>
                            <h6 class="font-semibold opacity-100 leading-base flex items-center gap-2">
                                Enzyme Selection for Novel Reactions
                                <i class="pi pi-info-circle" pTooltip="Rank-ordering known enzyme candidates for the novel reactions to select top enzyme candidates"></i>
                            </h6>
                            <small class="block pt-1 italic opacity-60 leading-xl">
                                Tip: More you choose, the longer it takes.
                            </small>
                            <div class="mt-1 shrink">
                                <div class="flex items-center justify-between pr-2 my-2 leading-xl">
                                    Number of candidates you want to see for each novel steps
                                </div>
                                <div class="max-w-[200px]">
                                    <input
                                        title="Number of Enzyme candidates"
                                        type="number"
                                        pInputText
                                        class="w-full"
                                        [step]="request.pathwayParameterSettings.numEnzymeCandidates.step"
                                        [min]="request.pathwayParameterSettings.numEnzymeCandidates.min"
                                        [max]="request.pathwayParameterSettings.numEnzymeCandidates.max"
                                        (keydown)="onNumberInputKeyDown($event)"
                                        formControlName="numEnzymeCandidates"
                                        [ngModel]="request.form.controls['numEnzymeCandidates'].value"
                                    />
                                    <div>
                                        <p-slider
                                            formControlName="numEnzymeCandidates"
                                            [step]="request.pathwayParameterSettings.numEnzymeCandidates.step"
                                            [min]="request.pathwayParameterSettings.numEnzymeCandidates.min"
                                            [max]="request.pathwayParameterSettings.numEnzymeCandidates.max"
                                            [ngModel]="request.form.controls['numEnzymeCandidates'].value"
                                        ></p-slider>
                                        <span
                                            class="flex items-center justify-between my-2"
                                        >
                                            <span class="text-sm"
                                                >0</span
                                            >
                                            <span class="text-sm"
                                                >10</span
                                            >
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </ng-template>
            </p-panel>
        </div>
    </div>

    <!-- Subscription Email Input -->
    <div
        class="sticky bottom-0 flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
    >
        <div class="flex flex-col">
            <div class="flex items-end justify-center mb-2">
                <span class="pr-12 mb-1">
                    <h5 class="inline font-semibold opacity-100 leading-lg">Email</h5>
                    <h6 class="inline ml-4 leading-lg">Leave an email to get an notification when your
                    results are ready.</h6>
                </span>
            </div>
            <div class="w-full">
                <input
                    id="subscriber-email"
                    type="email"
                    aria-describedby="subscriber-email-help"
                    [class]="'h-12 w-full'
                    + ((request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                    pInputText
                    placeholder="Enter email here"
                    formControlName="subscriberEmail"
                />
                <small
                    *ngIf="request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty"
                    id="subscriber-email-help"
                    class="block mt-2 p-error"
                    >Email is invalid.</small
                >
            </div>
            <div class="py-4">
                <div class="flex items-center gap-1">
                    <p-checkbox
                        name="subscription"
                        styleClass="subscription-checkbox"
                        [binary]="true"
                        [formControl]="request.form.controls['agreeToSubscription']"
                    ></p-checkbox>
                    <label class="opacity-60">Agree to receive email notifications and updates about novoStoic.</label>
                </div>
            </div>
        </div>
        <div class="flex flex-col items-end gap-2">
            <p-button
                [label]="request.form.status === 'PENDING' ? 'Validating...' : 'Run Job'"
                type="submit"
                styleClass="btn-submit-request"
                [disabled]="!request.form.valid"
                [loading]="request.form.status === 'PENDING'"
                iconPos="right"
                icon="pi pi-arrow-right"
            ></p-button>
            <span *ngIf="request.isExampleUsed()">
                <i class="pi pi-exclamation-triangle text-yellow-400"></i>
                A precomputed result will be returned for the example values.
            </span>
        </div>
    </div>
</form>

<p-dialog 
    class="warning_dialog"
    [visible]="(showWarning$ | async)" 
    (visibleChange)="warningVisible$.next(false)" 
    [modal]="true" 
    [closable]="false"
    [style]="{ width: '50rem' }">
    <ng-template pTemplate="header">
        <h2>Warning</h2>
    </ng-template>
    <p class="m-0">
        {{ warningMessage }}
    </p>
    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 mt-4">
            <button type="button" class="rounded-md border border-[--bluegray-500] border-solid p-2 px-4" 
                (click)="confirmCallback()">
                <i class="mr-2 pi pi-pencil"></i>
                {{ acceptLabel }}
            </button>
            <button type="button" class="rounded-md border bg-[#3B82F6] text-white p-2 px-4" (click)="warningVisible$.next(false)">
                <i class="mr-2 pi pi-check"></i>
                {{ rejectLabel }}
            </button>
        </div>
    </ng-template>
</p-dialog>

