<div class="marvin-filter-container"
    [class.invalid]="errors && dirty"
>
    <div class="p-inputgroup">
        <input
            title="Input your molecule"
            pInputText
            type="text"
            class="border-0"
            [placeholder]="placeholder"
            [ngModel]="userInput$.value"
            (ngModelChange)="userInput$.next($event)"
            (blur)="onChange(userInput$.value)"
        />
    </div>
</div>

<div class="text-[--status-error-color] text-xs my-1" *ngIf="errors && dirty">
    <div *ngIf="errors['required']">This field is required</div>
    <div *ngIf="errors['chemicalNotSupported']">Chemical not supported</div>
    <div *ngIf="errors['kegg_id']">This tool requires the chemical with an associated KEGG ID</div>
</div>
