<div class="flex h-full max-w-screen-xl gap-16">
    <app-sidebar [openInNewPage]="false"></app-sidebar>
    <div class="grow pt-4">
        <form
            class="flex h-full flex-col justify-between"
            [formGroup]="request.form"
            (ngSubmit)="onSubmit(request)"
        >
            <div>
                <h2 class="mb-2">Input Enzyme Sequence</h2>
                <p class="leading-6">To get top enzyme candidates</p>

                <!-- Molecule Input -->
                <div class="mt-8 flex gap-6">
                    <div class="flex grow flex-col">
                        <div class="flex items-center justify-between pb-2">
                            <div class="flex items-center">
                                <span class="green-dot mx-2"></span>
                                <span class="text-base font-semibold"
                                    >Primary Precursor</span
                                >
                            </div>
                            <span class="pr-1"
                                >Example:
                                <span class="font-semibold underline"
                                    >Pyruvate</span
                                >,
                                <span class="font-semibold underline"
                                    >C00022</span
                                >,
                                <span class="font-semibold underline"
                                    >CC(=O)C(=O)O</span
                                ></span
                            >
                        </div>
                        <app-marvinjs-input placeholder="CC(=O)C(=O)O"
                            [smiles]="request.form.controls['primaryPrecursor'].value || ''"
                            (smilesChange)="request.form.controls['primaryPrecursor'].setValue($event)"
                        ></app-marvinjs-input>

                        <!-- Enzyme Sequence Input -->
                        <div
                            class="mt-4 flex flex-col rounded-md border border-solid border-[--surface-d]"
                        >
                            <div
                                class="flex w-full items-center justify-between rounded-t-md bg-gray-50 p-4"
                            >
                                <span class="font-semibold"
                                    >Enzyme Sequence Input</span
                                >
                                <div class="flex gap-2">
                                    <button
                                        type="button"
                                        class="rounded-lg border border-[--surface-d] p-2"
                                    >
                                        <i class="pi pi-upload"></i>
                                        Upload
                                    </button>
                                    <button
                                        type="button"
                                        class="rounded-lg border border-[--surface-d] p-2"
                                        (click)="useExample()"
                                    >
                                        <i class="pi pi-box"></i>
                                        Example
                                    </button>
                                    <button
                                        type="button"
                                        class="rounded-lg border border-[--surface-d] p-2"
                                        (click)="request.clearAll()"
                                    >
                                        Clear All
                                    </button>
                                </div>
                            </div>
                            <hr />
                            <!-- <div class="p-2 px-4"> -->
                            <textarea
                                rows="5"
                                class="w-full border-none"
                                placeholder="example: >sp|P68871|HBB_HUMAN Hemoglobin subunit beta OS=Homo sapiens GN=HBB PE=1 SV=2
                                MVHLTPEEKSAVTALWGKVNVDEVGGEALGRLLVVYPWTQRFFESFGDLSTPDAVMGNPKVKAHGKKVLGAFSDGLAHLDNLKGTFATLSELHCDKLHVDPENFRLLGNVLVCVLHGKKVLGAFSDGLAHLDNLKGTFATLSELHCDKLHVDPENFRLLGNHGKKVLGAFSDGLAHLDNLKGTFATLSELHCDKLHVDPENFRLLGNGKVNVDEVGGEALGRLLVVYPWTQRFFESFGDLSTPDAVLDNLKGTFATLSELHCDKLHVDPENFRLLGNHGKKVLGAFSDGLAHLDNLKGTFATLSELHLKGTFLKGTF"
                                pInputTextarea
                                [autoResize]="true"
                                formControlName="enzymeSequence"
                            ></textarea>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Subscription Email Input -->
            <div
                class="flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
            >
                <div class="flex flex-col">
                    <div class="mb-2 flex items-end justify-center">
                        <span class="mb-1 pr-12">
                            <h2 class="m-0 mr-2 inline">Email</h2>
                            Leave an email to get an notification when your
                            results are ready.
                        </span>
                    </div>
                    <div class="w-full">
                        <input
                            id="subscriber-email"
                            type="email"
                            aria-describedby="subscriber-email-help"
                            [class]="'h-12 w-full'
                            + ((request.form.controls['subscriberEmail'].invalid
                                && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                            pInputText
                            placeholder="Enter email here"
                            formControlName="subscriberEmail"
                        />
                        <small
                            *ngIf="request.form.controls['subscriberEmail'].invalid
                                && request.form.controls['subscriberEmail'].dirty"
                            id="subscriber-email-help"
                            class="p-error mt-2 block"
                            >Email is invalid.</small
                        >
                    </div>
                    <div class="py-4">
                        <p-checkbox
                            name="subscription"
                            styleClass="subscription-checkbox"
                            label="Agree to receive email notifications and updates about Novostoic."
                            [binary]="true"
                            [formControl]="request.form.controls['agreeToSubscription']"
                        ></p-checkbox>
                    </div>
                </div>
                <p-button
                    label="Calculate Activity Score"
                    type="submit"
                    styleClass="bg-[#224063]"
                    [disabled]="request.form.invalid"
                    iconPos="right"
                    icon="pi pi-arrow-right"
                ></p-button>
            </div>
        </form>
    </div>
</div>