<div class="mt-6 flex h-full flex-col items-center max-w-content-lg">
    <div class="lg:w-screen-lg flex w-full p-4">
        <a class="font-bold" href="/">
            <h6>
                <i class="pi pi-chevron-left text-xs"></i>
                <span class="ml-4">Back to Home page</span>
            </h6>
        </a>
    </div>
    <div class="lg:w-screen-lg flex w-full grow p-4 pb-0">
        <nav class="flex max-w-[300px] flex-col">
            <button
                class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 active:border-[#495057]"
                [class.border-[#495057]]="activePanel$.value === ActiveAboutPanel.ABOUT"
                (click)="activePanel$.next(ActiveAboutPanel.ABOUT)"
            >
                <i class="pi pi-info-circle"></i
                ><a class="ml-2 font-bold">About</a>
            </button>
            <button
                class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 active:border-[#495057]"
                [class.border-[#495057]]="activePanel$.value === ActiveAboutPanel.GITHUB"
                (click)="activePanel$.next(ActiveAboutPanel.GITHUB)"
            >
                <i class="pi pi-github"></i
                ><a class="ml-2 font-bold">Github</a>
            </button>
            <button
                class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 active:border-[#495057]"
                [class.border-[#495057]]="activePanel$.value === ActiveAboutPanel.PUBLICATIONS"
                (click)="activePanel$.next(ActiveAboutPanel.PUBLICATIONS)"
            >
                <i class="pi pi-book"></i
                ><a class="ml-2 font-bold">Publication</a>
            </button>
            <button
                class="z-10 flex items-center border-r-2 border-solid p-4 hover:bg-gray-100 active:border-[#495057]"
                [class.border-[#495057]]="activePanel$.value === ActiveAboutPanel.GET_INVOLVED"
                (click)="activePanel$.next(ActiveAboutPanel.GET_INVOLVED)"
            >
                <i class="pi pi-comment"></i
                ><a class="ml-2 font-bold">Get Involved</a>
            </button>
        </nav>

        <!-- About -->
        <main
            *ngIf="activePanel$.value === ActiveAboutPanel.ABOUT"
            class="-ml-0.5 h-full border-l-2 border-solid border-[#e5e7eb] pb-4 pl-16 grow"
        >
            <h1 class="mb-4 font-bold">About</h1>
            <p class="max-w-screen-md leading-6">
                NovoStoic is an integrated pathway design tool that accounts for
                thermodynamic considerations and enzyme selection for novel reactions in pathway design.
                <br/>
                NovoStoic combines 4 different tools into a single platform
            </p>

            <h2 class="mt-16">Overall Stoichiometry</h2>
            <h6 class="mb-2 font-light">Optstoic</h6>
            <p class="max-w-screen-md leading-6">
                Finds the optimal overall stoichiometry of conversion maximizing yield.
            </p>

            <h2 class="mt-16">Pathway Design</h2>
            <h6 class="mb-2 font-light">Novostic</h6>
            <p class="max-w-screen-md leading-6">
                Pathway design using optimal overall stoichiometry obtained from optStoic including 
                both known and novel transformations learned from known reactions.
            </p>

            <h2 class="mt-16">Thremodynamical Feasibility</h2>
            <h6 class="mb-2 font-light">dgPredictor</h6>
            <p class="max-w-screen-md leading-6">
                Thermodynamic analysis to safegaurd against infeasible reaction directionalities, 
                especially for reactions with novel molecules.
            </p>

            <h2 class="mt-16">Enzyme Activity</h2>
            <h6 class="mb-2 font-light">EnzRank</h6>
            <p class="max-w-screen-md leading-6">
                Enzyme selection tool for novel reactions.
            </p>
        </main>

        <!-- Github -->
        <main
            *ngIf="activePanel$.value === ActiveAboutPanel.GITHUB"
            class="-ml-0.5 h-full border-l-2 border-solid border-[#e5e7eb] pb-4 pl-16 grow"
        >
            <h1 class="mb-4 font-bold">Github</h1>
            <p class="max-w-screen-md leading-6">
                <a rel="noopener" class="text-blue-500 font-semibold underline" href="https://github.com/maranasgroup/novoStoic2.0" target="_blank"><i class="pi pi-external-link mx-2"></i>https://github.com/maranasgroup/novoStoic2.0</a>
            </p>
        </main>

        <!-- Publications -->
        <main
            *ngIf="activePanel$.value === ActiveAboutPanel.PUBLICATIONS"
            class="-ml-0.5 h-full border-l-2 border-solid border-[#e5e7eb] pb-4 pl-16 grow"
        >
            <h1 class="mb-4 font-bold">Publications</h1>
            <p class="max-w-screen-md leading-6">
                Learn more about the research process behind the design and
                construction of Novostoic.
            </p>

            <ul class="mt-8 max-w-screen-md">
                <li class="mt-4">
                    <span class="font-semibold leading-6">OptStoic:</span>
                    Chowdhury, A., Maranas, C. Designing overall stoichiometric conversions and intervening metabolic reactions. Sci Rep 5, 16009 (2015).
                    <br/>
                    <a rel="noopener" class="text-blue-500 font-semibold underline" href="https://doi.org/10.1038/srep16009" target="_blank"><i class="pi pi-external-link mx-2"></i>DOI: https://doi.org/10.1038/srep16009</a>
                </li>
                <li class="mt-4">
                    <span class="font-semibold leading-6"
                        >Novostoic 1.0:</span
                    >
                    Kumar, A., Wang, L., Ng, C.Y. et al. Pathway design using de novo steps through uncharted biochemical spaces. Nat Commun 9, 184 (2018).
                    <br/>
                    <a rel="noopener" class="text-blue-500 font-semibold underline" href="https://doi.org/10.1038/s41467-017-02362-x" target="_blank"><i class="pi pi-external-link mx-2"></i>DOI: https://doi.org/10.1038/s41467-017-02362-x</a>
                </li>
                <li class="mt-4">
                    <span class="font-semibold leading-6"
                        >dgPredictor:</span
                    >
                    Wang L, Upadhyay V, Maranas CD (2021) dGPredictor: Automated fragmentation method for metabolic reaction free energy prediction and de novo pathway design. PLoS Comput Biol 17(9): e1009448
                    <br/>
                    <a rel="noopener" class="text-blue-500 font-semibold underline" href="https://doi.org/10.1371/journal.pcbi.1009448"><i class="pi pi-external-link mx-2"></i>DOI: https://doi.org/10.1371/journal.pcbi.1009448</a>
                </li>
                <li class="mt-4">
                    <span class="font-semibold leading-6">EnzRank:</span>
                    Upadhyay V, Maranas CD (2023) Rank-ordering of known enzymes as starting points for re-engineering novel substrate activity using a convolutional neural network, Metab Eng.
                    <br/>
                    <a rel="noopener" class="text-blue-500 font-semibold underline" href="https://doi.org/10.1016/j.ymben.2023.06.001"><i class="pi pi-external-link mx-2"></i>DOI: https://doi.org/10.1016/j.ymben.2023.06.001</a>
                </li>
            </ul>
        </main>

        <!-- Get Involved -->
        <main
            *ngIf="activePanel$.value === ActiveAboutPanel.GET_INVOLVED"
            class="-ml-0.5 h-full border-l-2 border-solid border-[#e5e7eb] pb-4 pl-16 grow"
        >
            <h1 class="mb-4 font-bold">Get involved</h1>
            <p class="max-w-screen-md leading-6">
                We welcome you questions, suggestions, and feedback! Get in
                touch with us via
                <a
                    class="font-semibold text-[#0080FF] underline"
                    href="mailto:novostoic-feedback@moleculemaker.org"
                    >email: novostoic-feedback@moleculemaker.org</a
                >
            </p>
        </main>
    </div>
</div>
