<div class="flex flex-col mt-6" *ngIf="!(showError$.value)">
    <p-progressBar
        class="w-full"
        [showValue]="false"
        [value]="value$ | async"
        [style]="{height: '10px'}"
    ></p-progressBar>
    <div class="mt-2 text-end text-[--text-color-secondary]">
        Estimated processing time: {{ estimatedTimeString }}
    </div>
</div>

<div
    *ngIf="!(showError$.value)"
    class="my-8 flex max-h-[540px] grow items-center gap-12 rounded-md bg-[#F3F5FB] px-12 pb-12"
>
    <img
        class="h-auto w-[300px]"
        src="assets/laptop.png"
        alt="Data science on laptop screen"
    />
    <div class="max-w-[480px]">
        <h2 class="mb-8">What is novoStoic?</h2>
        <p>
            novoStoic is an integrated pathway design tool that accounts for
            thermodynamic considerations and enzyme selection for novel reactions in pathway design.
            novoStoic combines 4 different tools into a single platform
        </p>
        <p class="mt-5">
            <a href="about" target="_blank" class="font-semibold text-blue-500 underline">Learn more</a> about the research process behind the design and
            construction of novoStoic.
        </p>
    </div>
</div>

<div
    class="flex flex-col items-center justify-center h-full gap-4"
    *ngIf="(showError$.value)"
>
    <h5 class="font-semibold text-center">Error</h5>
    <p class="text-center">An error occurs running the job.</p>
</div>