<div class="flex flex-col mt-6">
    <p-progressBar
        class="w-full"
        mode="indeterminate"
        [style]="{height: '10px'}"
    ></p-progressBar>
    <!-- <div class="mt-2 text-end text-[--text-color-secondary]">
        Estimated remaining processing time: 30 minutes
    </div> -->
</div>
<div
    class="my-8 flex max-h-[540px] grow items-center gap-12 rounded-md bg-[#F3F5FB] px-12 pb-12"
>
    <img
        class="h-auto w-[300px]"
        src="assets/laptop.png"
        alt="Data science on laptop screen"
    />
    <div class="max-w-[480px]">
        <h2 class="mb-8">What is NovoStoic?</h2>
        <p>
            NovoStoic is an integrated pathway design tool that accounts for
            thermodynamic considerations and enzyme selection for novel reactions in pathway design.
            NovoStoic combines 4 different tools into a single platform
        </p>
        <p class="mt-5">
            <a href="about" target="_blank" class="font-semibold text-blue-500 underline">Learn more</a> about the research process behind the design and
            construction of Novostoic.
        </p>
    </div>
</div>
