$predicted_color: #C79807;
$indicator_color: var(--surface-500);

.strip_pattern {
    background: repeating-linear-gradient(white, white 3.9px, black 4px, black 7.9px);;
}

.strip_pattern_to_right_thermo_infeasible {
    background: repeating-linear-gradient(to right, white, white 3px, $predicted_color 3.1px, $predicted_color 6.1px);
}

.strip_pattern_to_right_thermo_feasible {
    background: repeating-linear-gradient(to right, white, white 3px, $indicator_color 3.1px, $indicator_color 6.1px);
}

.strip_pattern_border {
    border-image: url("/assets/border.png") 2 round;
}

.primary_precursor_container {
    &::after {
        display: block;
        position: absolute;
        content: ' ';
        top: 7%;
        right: -2.17rem;
        @apply w-6;
        @apply h-[1px];
        @apply z-[1];
        @apply bg-white;
        @apply border-t;
        @apply border-r;
        @apply border-solid;
        @apply border-black;
    }
}

.target_molecule_container {
    &::before {
        display: block;
        position: absolute;
        content: ' ';
        top: 7%;
        left: -2.17rem;
        @apply w-8;
        @apply h-16;
        @apply z-[1];
        @apply bg-white;
        @apply border-t;
        @apply border-l;
        @apply border-solid;
        @apply border-black;
    }
}

.table_cell_img {
    &::after {
        display: block;
        position: absolute;
        content: ' ';
        top: 44%;
        z-index: 1;
        @apply w-2;
        @apply h-2;
        @apply rounded;
        @apply -right-2;
        @apply scale-75;
        background-color: $indicator_color;
    }

    &::before {
        display: block;
        position: absolute;
        content: ' ';
        top: 43.5%;
        z-index: 1;
        @apply -left-2;
        @apply border-solid;
        @apply border-r-0;
        @apply border-l-8;
        @apply border-y-4;
        @apply border-y-transparent;
        @apply scale-90;
        border-left-color: $indicator_color;
    }
}

.with-start-point {
    &::after {
        display: block;
        position: absolute;
        content: ' ';
        top: 47.5%;
        z-index: 1;
        @apply w-2;
        @apply h-2;
        @apply rounded;
        @apply -left-2;
        @apply scale-90;
        background-color: $indicator_color;
    }
}

.thermo_infeasible::before {
    border-left-color: $predicted_color !important;
}

.next_thermo_infeasible::after {
    background: $predicted_color !important;
}

.pathway_dialog {
    ::ng-deep .p-dialog-mask {
        z-index: 9000 !important;
    }

    ::ng-deep .p-dialog {
        
        .p-dialog-header {
            @apply bg-gray-50;
        }
    }
}

::ng-deep .p-panel {
    .p-panel-header,
    .p-panel-content {
        padding: 0;
    }
}

::ng-deep .p-dialog {
    .p-dialog-header,
    .p-dialog-footer {
        @apply bg-gray-50;
        @apply border-solid;
        @apply border-[--surface-d];
    }

    .p-dialog-header {
        @apply border-b;
    }

    .p-dialog-footer {
        @apply border-t;
    }
}
