<div class="flex h-full w-full gap-16">
    <app-sidebar></app-sidebar>
    <div class="grow pt-4">
        <div class="flex h-full max-w-[1180px] flex-col justify-between">
            <div>
                <h2 class="mb-2">Input your target molecule and precursor</h2>
                <p class="leading-6">
                    You’ll get the overall stoichiometry and theoretical yield.
                    Input format: KEGG ID, Common name, SMILES.
                </p>
            </div>
            <app-subscriber-email-input></app-subscriber-email-input>
        </div>
    </div>
</div>
