<form
    class="flex flex-col justify-between h-full mt-2"
    [formGroup]="request.form"
    (ngSubmit)="onSubmit()"
>
    <div>
        <h5 class="font-bold opacity-100 leading-lg">Input your target molecule and precursor</h5>
        <h6 class="mt-1 leading-lg">
            You’ll get the overall stoichiometry and theoretical yield.
            Input format: KEGG ID, Common name, SMILES.
        </h6>
        
        <!-- Molecule Input -->
        <div class="flex gap-6 mt-8">
            <div class="flex flex-col grow">
                <div class="flex items-center justify-between pb-2">
                    <div class="flex items-center">
                        <span class="mx-2 green-dot"></span>
                        <h6 class="font-semibold opacity-100 leading-xl"
                            >Primary Precursor</h6
                        >
                    </div>
                    <small class="pr-1 leading-[140%]"
                        >Example:
                        <small class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('primaryPrecursor', 'pyruvate')"
                            >Pyruvate</small
                        >,
                        <small class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('primaryPrecursor', 'C00022')"
                            >C00022</small
                        >,
                        <small class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('primaryPrecursor', 'CC(=O)C(=O)O')"
                            >CC(=O)C(=O)O</small
                        ></small
                    >
                </div>
                <app-marvinjs-input
                    formControlName="primaryPrecursor"
                    placeholder="Name, SMILES, InChi, Kegg ID"
                    [errors]="request.form.controls['primaryPrecursor'].errors"
                    [dirty]="request.form.controls['primaryPrecursor'].dirty"
                ></app-marvinjs-input>
                <div
                    *ngIf="request.form.controls['primaryPrecursor'].value"
                    class="border-green-primary relative mt-4 flex h-[200px] grow items-center justify-center rounded-md border border-solid"
                >
                    <i
                        class="absolute pi pi-check-circle left-3 top-3"
                    ></i>
                    <img
                        class="h-[180px] w-auto"
                        src="https://www.genome.jp/Fig/compound/C00022.gif"
                    />
                </div>
            </div>
            <div class="flex items-start mt-10">
                <svg
                    width="37"
                    height="37"
                    viewBox="0 0 37 37"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5.46118 7.52002L16.4412 18.5L5.46118 29.48H10.9512L21.9312 18.5L10.9512 7.52002H5.46118Z"
                        fill="#224063"
                    />
                    <path
                        d="M15.0688 7.52002L26.0488 18.5L15.0688 29.48H20.5588L31.5388 18.5L20.5588 7.52002H15.0688Z"
                        fill="#224063"
                    />
                </svg>
            </div>
            <div class="flex flex-col grow">
                <div class="flex items-center justify-between pb-2">
                    <div class="flex items-center">
                        <span class="mx-2 blue-dot"></span>
                        <h6 class="font-semibold opacity-100 leading-xl"
                            >Target Molecule</h6
                        >
                    </div>
                    <small class="pr-1"
                        >Example:
                        <!-- <small class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('targetMolecule', '3HP')"
                        >3HP</small
                        >, -->
                        <small class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('targetMolecule', 'C01013')"
                            >C01013</small
                        >,
                        <small class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('targetMolecule', 'O=C(CCO)O')"
                            >O=C(CCO)O</small
                        ></small
                    >
                </div>
                <app-marvinjs-input
                    formControlName="targetMolecule"
                    placeholder="Name, SMILES, InChi, Kegg ID"
                    [errors]="request.form.controls['targetMolecule'].errors"
                    [dirty]="request.form.controls['targetMolecule'].dirty"
                ></app-marvinjs-input>
                <div
                    *ngIf="request.form.controls['targetMolecule'].value"
                    class="border-blue-primary relative mt-4 flex h-[200px] grow items-center justify-center rounded-md border border-solid"
                >
                    <i
                        class="absolute pi pi-check-circle left-3 top-3"
                    ></i>
                    <img
                        class="h-[180px] w-auto"
                        src="https://www.genome.jp/Fig/compound/C21389.gif"
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Subscription Email Input -->
    <div
        class="sticky bottom-0 flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
    >
        <div class="flex flex-col">
            <div class="flex items-end justify-center mb-2">
                <span class="pr-12 mb-1">
                    <h5 class="inline font-semibold opacity-100 leading-lg">Email</h5>
                    <h6 class="inline ml-4 leading-lg">Leave an email to get an notification when your
                    results are ready.</h6>
                </span>
            </div>
            <div class="w-full">
                <input
                    id="subscriber-email"
                    type="email"
                    aria-describedby="subscriber-email-help"
                    [class]="'h-12 w-full'
                    + ((request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                    pInputText
                    placeholder="Enter email here"
                    formControlName="subscriberEmail"
                />
                <small
                    *ngIf="request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty"
                    id="subscriber-email-help"
                    class="block mt-2 p-error"
                    >Email is invalid.</small
                >
            </div>
            <div class="py-4">
                <div class="flex items-center gap-1">
                    <p-checkbox
                        name="subscription"
                        styleClass="subscription-checkbox"
                        [binary]="true"
                        [formControl]="request.form.controls['agreeToSubscription']"
                    ></p-checkbox>
                    <label class="opacity-60">Agree to receive email notifications and updates about Novostoic.</label>
                </div>
            </div>
        </div>
        <p-button
            label="Get Overall Stoichiometry"
            type="submit"
            styleClass="btn-submit-request"
            [disabled]="!request.form.valid"
            iconPos="right"
            icon="pi pi-arrow-right"
        ></p-button>
    </div>
</form>
