<form
    class="flex h-full flex-col justify-between"
    [formGroup]="request.form"
    (ngSubmit)="onSubmit()"
>
    <div>
        <div class="flex justify-between">
            <div>
                <h2 class="mb-2">Input your target molecule and precursor</h2>
                <p class="leading-6">
                    You’ll get the overall stoichiometry and theoretical yield.
                    Input format: KEGG ID, Common name, SMILES.
                </p>
            </div>
            <div class="flex items-end">
                <button
                    type="button"
                    class="rounded-md border p-2"
                    (click)="useExample()"
                >
                    <i class="pi pi-box mx-2"></i>
                    Use an Example
                </button>
            </div>
        </div>

        <!-- Molecule Input -->
        <div class="mt-8 flex gap-6">
            <div class="flex grow flex-col">
                <div class="flex items-center justify-between pb-2">
                    <div class="flex items-center">
                        <span class="green-dot mx-2"></span>
                        <span class="text-base font-semibold"
                            >Primary Precursor</span
                        >
                    </div>
                    <span class="pr-1"
                        >Example:
                        <span class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('primaryPrecursor', 'pyruvate')"
                            >Pyruvate</span
                        >,
                        <span class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('primaryPrecursor', 'C00022')"
                            >C00022</span
                        >,
                        <span class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('primaryPrecursor', 'CC(=O)C(=O)O')"
                            >CC(=O)C(=O)O</span
                        ></span
                    >
                </div>
                <app-marvinjs-input
                    formControlName="primaryPrecursor"
                    placeholder="Name, SMILES, InChi, Kegg ID"
                    [errors]="request.form.controls['primaryPrecursor'].errors"
                    [dirty]="request.form.controls['primaryPrecursor'].dirty"
                    (onChemicalValidated)="validatedPrimaryPrecursor$.next($event)"
                ></app-marvinjs-input>
                <ng-container *ngIf="request.form.controls['primaryPrecursor'].value">
                    <ng-container *ngTemplateOutlet="moleculeImg; context: {
                            status: request.form.controls['primaryPrecursor'].status,
                            molecule: (trustedPrimaryPrecursor$ | async),
                            styleClass: 'border-green-primary relative mt-4 flex h-[200px] grow items-center justify-center rounded-md border border-solid'
                        }"
                    ></ng-container>
                </ng-container>
            </div>
            <div class="mt-10 flex items-start">
                <svg
                    width="37"
                    height="37"
                    viewBox="0 0 37 37"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M5.46118 7.52002L16.4412 18.5L5.46118 29.48H10.9512L21.9312 18.5L10.9512 7.52002H5.46118Z"
                        fill="#224063"
                    />
                    <path
                        d="M15.0688 7.52002L26.0488 18.5L15.0688 29.48H20.5588L31.5388 18.5L20.5588 7.52002H15.0688Z"
                        fill="#224063"
                    />
                </svg>
            </div>
            <div class="flex grow flex-col">
                <div class="flex items-center justify-between pb-2">
                    <div class="flex items-center">
                        <span class="blue-dot mx-2"></span>
                        <span class="text-base font-semibold"
                            >Target Molecule</span
                        >
                    </div>
                    <span class="pr-1"
                        >Example:
                        <!-- <span class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('targetMolecule', '3HP')"
                        >3HP</span
                        >, -->
                        <span class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('targetMolecule', 'C01013')"
                            >C01013</span
                        >,
                        <span class="font-semibold underline cursor-pointer"
                            (click)="useExampleValue('targetMolecule', 'O=C(CCO)O')"
                            >O=C(CCO)O</span
                        ></span
                    >
                </div>
                <app-marvinjs-input
                    formControlName="targetMolecule"
                    placeholder="Name, SMILES, InChi, Kegg ID"
                    [errors]="request.form.controls['targetMolecule'].errors"
                    [dirty]="request.form.controls['targetMolecule'].dirty"
                    (onChemicalValidated)="validatedTargetMolecule$.next($event)"
                ></app-marvinjs-input>
                <ng-container *ngIf="request.form.controls['targetMolecule'].value">
                    <ng-container *ngTemplateOutlet="moleculeImg; context: {
                            status: request.form.controls['targetMolecule'].status,
                            molecule: (trustedTargetMolecule$ | async),
                            styleClass: 'border-blue-primary relative mt-4 flex h-[200px] grow items-center justify-center rounded-md border border-solid'
                        }"
                    ></ng-container>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- Subscription Email Input -->
    <div
        class="flex justify-between rounded-t-md bg-[#F3F5FB] px-10 pt-8"
    >
        <div class="flex flex-col">
            <div class="mb-2 flex items-end justify-center">
                <span class="mb-1 pr-12">
                    <h2 class="m-0 mr-2 inline">Email</h2>
                    Leave an email to get an notification when your
                    results are ready.
                </span>
            </div>
            <div class="w-full">
                <input
                    id="subscriber-email"
                    type="email"
                    aria-describedby="subscriber-email-help"
                    [class]="'h-12 w-full'
                    + ((request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty) ? ' ng-invalid ng-dirty' : '')"
                    pInputText
                    placeholder="Enter email here"
                    formControlName="subscriberEmail"
                />
                <small
                    *ngIf="request.form.controls['subscriberEmail'].invalid
                        && request.form.controls['subscriberEmail'].dirty"
                    id="subscriber-email-help"
                    class="p-error mt-2 block"
                    >Email is invalid.</small
                >
            </div>
            <div class="py-4">
                <p-checkbox
                    name="subscription"
                    styleClass="subscription-checkbox"
                    label="Agree to receive email notifications and updates about Novostoic."
                    [binary]="true"
                    [formControl]="request.form.controls['agreeToSubscription']"
                ></p-checkbox>
            </div>
        </div>
        <p-button
            label="Get the Overall Stoichiometry"
            type="submit"
            styleClass="bg-[#224063]"
            [disabled]="request.form.invalid"
            iconPos="right"
            icon="pi pi-arrow-right"
        ></p-button>
    </div>
</form>


<ng-template #moleculeImg let-status="status" let-molecule="molecule" let-styleClass="styleClass">
    <div [class]="styleClass" *ngIf="status !== 'INVALID'">
        <i
            *ngIf="status === 'VALID'"
            class="pi pi-check-circle absolute left-3 top-3"
        ></i>
        <p-progressSpinner 
            *ngIf="status === 'PENDING'"
            class="absolute top-0 left-0 scale-[0.2] -translate-x-8 -translate-y-8"
            strokeWidth="4"
            ariaLabel="loading">
        </p-progressSpinner>
        <div *ngIf="status === 'VALID' && molecule"
            [innerHTML]="molecule"
        ></div>
    </div>
</ng-template>